# Chapter 2: Python Data Types

Data types are nothing but variables you use to reserve some space in memory. Python variables do not need an
explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a
variable.

# Section 2.1: String Data Type

String are identified as a contiguous set of characters represented in the quotation marks. Python allows for either
pairs of single or double quotes. Strings are immutable sequence data type, i.e each time one makes any changes
to a string, completely new string object is created.

In [1]:
a_str = 'Hello World'
print(a_str)
#output will be whole string. Hello World
print(a_str[0])
#output will be first character. H
print(a_str[0:5])
#output will be first five characters. Hello

Hello World
H
Hello

# Section 2.2: Set Data Types

Sets are unordered collections of unique objects, there are two types of set :
  1. Sets - They are mutable and new elements can be added once sets are defined

In [2]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)
# duplicates will be removed= {'orange', 'banana', 'pear', 'apple'}

a = set('abracadabra')
print(a)
# unique letters in a= {'a', 'r', 'b', 'c', 'd'}

a.add('z')
print(a)
# {'a', 'c', 'r', 'b', 'z', 'd'}

{'pear', 'apple', 'banana', 'orange'}
{'a', 'c', 'd', 'r', 'b'}
{'a', 'c', 'd', 'r', 'b', 'z'}

  2. Frozen Sets - They are immutable and new elements cannot added after its defined.

In [3]:
b = frozenset('asdfagsa')
print(b)
# frozenset({'f', 'g', 'd', 'a', 's'})

cities = frozenset(["Frankfurt", "Basel","Freiburg"])
print(cities)
# frozenset({'Frankfurt', 'Basel', 'Freiburg'})

frozenset({'a', 'd', 'g', 's', 'f'})
frozenset({'Frankfurt', 'Freiburg', 'Basel'})

# Section 2.3: Numbers data type
Numbers have four types in Python. Int, float, complex, and long.

In [6]:
int_num = 10
#int value

float_num = 10.2
#float value

complex_num = 3.14j
#complex value

long_num = 1234567
#long value

# Section 2.4: List Data Type
A list contains items separated by commas and enclosed within square brackets [].lists are almost similar to arrays
in C. One difference is that all the items belonging to a list can be of different data type.

In [7]:
list = [123,'abcd',10.2,'d']
#can be an array of any data type or single data type.

list1 = ['hello','world']
print(list)
#will output whole list. [123,'abcd',10.2,'d']

print(list[0:2])
#will output first two element of list. [123,'abcd']

print(list1 * 2)
#will gave list1 two times. ['hello','world','hello','world']

print(list + list1)
#will gave concatenation of both the lists.

[123, 'abcd', 10.2, 'd']
[123, 'abcd']
['hello', 'world', 'hello', 'world']
[123, 'abcd', 10.2, 'd', 'hello', 'world']

# Section 2.5: Dictionary Data Type
Dictionary consists of key-value pairs. It is enclosed by curly braces {} and values can be assigned and accessed
using square brackets[].

In [10]:
dic={'name':'red','age':10}
print(dic)

print(dic['name'])

print(dic.values())

print(dic.keys())

{'name': 'red', 'age': 10}
red
dict_values(['red', 10])
dict_keys(['name', 'age'])

# Section 2.6: Tuple Data Type
Lists are enclosed in brackets [ ] and their elements and size can be changed, while tuples are enclosed in
parentheses ( ) and cannot be updated. Tuples are immutable.

In [13]:
tuple = (123,'hello')
tuple1 = ('world', )
print(tuple)

print(tuple[0])

print(tuple + tuple1)

(123, 'hello')
123
(123, 'hello', 'world')

In [14]:
tuple[1]='update'
#this will give you error.

TypeError: 'tuple' object does not support item assignment

# End of chapter 2